.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.env


**/target
**/*.rs.bk
**/Cargo.lock


**/node_modules
**/.next
**/dist
**/out
**/.turbo
**/.cache
**/pnpm-lock.yaml

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*


**/src-tauri/target

.vscode
.idea

.DS_Store
Thumbs.db